[submodule "tools/joystick"]
	path = tools/joystick
	url = https://github.com/marcio-pessoa/pygame-joystick
[submodule "tools/pytimer"]
	path = tools/pytimer
	url = https://github.com/marcio-pessoa/pytimer
