[submodule "tools/timer"]
	path = tools/timer
	url = https://github.com/marcio-pessoa/pytimer
[submodule "tools/joystick"]
	path = tools/joystick
	url = https://github.com/marcio-pessoa/pygame-joystick
